@theme {
    /* -------------------------
  Colours
  ------------------------- */
    --color-black: #000;
    --color-white: #fff;

    --color-orange: oklch(77.195% 0.17382 64.552);
    --color-orange-50: oklch(92.638% 0.06323 76.962);
    --color-orange-100: oklch(90.676% 0.08159 77.294);
    --color-orange-200: oklch(86.94% 0.11496 76.599);
    --color-orange-300: oklch(83.467% 0.14238 74.534);
    --color-orange-400: oklch(80.087% 0.16256 70.417);
    --color-orange-500: oklch(77.195% 0.17382 64.552);
    --color-orange-600: oklch(64.183% 0.14396 65.037);
    --color-orange-700: oklch(50.661% 0.11217 66.74);
    --color-orange-800: oklch(35.952% 0.07837 69.016);
    --color-orange-900: oklch(19.498% 0.04078 77.079);
    --color-orange-950: oklch(8.5603% 0.01756 94.54);

    --color-pizazz: oklch(75.376% 0.17816 59.215);
    --color-pizazz-50: oklch(92.06% 0.06202 72.432);
    --color-pizazz-100: oklch(89.91% 0.08016 72.602);
    --color-pizazz-200: oklch(85.809% 0.11366 71.624);
    --color-pizazz-300: oklch(82% 0.14211 69.292);
    --color-pizazz-400: oklch(78.507% 0.16418 65.463);
    --color-pizazz-500: oklch(75.376% 0.17816 59.215);
    --color-pizazz-600: oklch(62.789% 0.14711 60.097);
    --color-pizazz-700: oklch(49.535% 0.11438 61.631);
    --color-pizazz-800: oklch(35.119% 0.07968 63.63);
    --color-pizazz-900: oklch(19.239% 0.04078 73.97);
    --color-pizazz-950: oklch(7.5348% 0.01676 66.154);

    --color-blaze-orange: oklch(69.706% 0.20349 43.804);
    --color-blaze-orange-50: oklch(89.967% 0.06119 54.842);
    --color-blaze-orange-100: oklch(87.272% 0.07975 55.357);
    --color-blaze-orange-200: oklch(82.153% 0.11594 54.732);
    --color-blaze-orange-300: oklch(77.47% 0.14973 52.773);
    --color-blaze-orange-400: oklch(73.17% 0.18018 49.123);
    --color-blaze-orange-500: oklch(69.706% 0.20349 43.804);
    --color-blaze-orange-600: oklch(58.016% 0.16774 44.35);
    --color-blaze-orange-700: oklch(45.852% 0.12914 45.894);
    --color-blaze-orange-800: oklch(32.668% 0.08836 48.446);
    --color-blaze-orange-900: oklch(18.017% 0.04269 58.969);
    --color-blaze-orange-950: oklch(7.5348% 0.01676 66.154);

    --color-blue: oklch(69.137% 0.17407 245.01);
    --color-blue-50: oklch(89.875% 0.05878 233.63);
    --color-blue-100: oklch(87.169% 0.07557 233.26);
    --color-blue-200: oklch(81.869% 0.10687 234.89);
    --color-blue-300: oklch(77.032% 0.13428 237.36);
    --color-blue-400: oklch(72.91% 0.15655 240.21);
    --color-blue-500: oklch(69.137% 0.17407 245.01);
    --color-blue-600: oklch(57.561% 0.14361 244.57);
    --color-blue-700: oklch(45.368% 0.11145 243.81);
    --color-blue-800: oklch(32.281% 0.0768 242.14);
    --color-blue-900: oklch(17.979% 0.03694 232.57);
    --color-blue-950: oklch(7.8221% 0.01413 218.8);

    --color-yellow: oklch(85.555% 0.17488 88.008);
    --color-yellow-50: oklch(95.172% 0.07243 93.786);
    --color-yellow-100: oklch(93.991% 0.09297 94.437);
    --color-yellow-200: oklch(91.594% 0.12795 94.127);
    --color-yellow-300: oklch(89.401% 0.15424 93.108);
    --color-yellow-400: oklch(87.39% 0.17041 91.221);
    --color-yellow-500: oklch(85.555% 0.17488 88.008);
    --color-yellow-600: oklch(71.052% 0.14522 88.217);
    --color-yellow-700: oklch(55.761% 0.11396 88.573);
    --color-yellow-800: oklch(39.557% 0.08085 90.57);
    --color-yellow-900: oklch(21.133% 0.04336 94.537);
    --color-yellow-950: oklch(8.5603% 0.01756 94.54);

    --color-pink: oklch(59.422% 0.23752 11.191);
    --color-pink-50: oklch(81.321% 0.11894 355.54);
    --color-pink-100: oklch(77.69% 0.14693 356.22);
    --color-pink-200: oklch(71.483% 0.19705 359.08);
    --color-pink-300: oklch(66.995% 0.23391 3.1057);
    --color-pink-400: oklch(64.389% 0.2525 8.543);
    --color-pink-500: oklch(59.422% 0.23752 11.191);
    --color-pink-600: oklch(48.369% 0.19339 10.477);
    --color-pink-700: oklch(36.638% 0.14659 9.1538);
    --color-pink-800: oklch(23.897% 0.09605 4.8032);
    --color-pink-900: oklch(8.8392% 0.03672 351.24);
    --color-pink-950: oklch(0% 0 none);

    --color-ecru: oklch(96.504% 0.01145 84.578);
    --color-ecru-50: oklch(100% 0 none);
    --color-ecru-100: oklch(100% 0 none);
    --color-ecru-200: oklch(100% 0 none);
    --color-ecru-300: oklch(100% 0 none);
    --color-ecru-400: oklch(100% 0 none);
    --color-ecru-500: oklch(96.504% 0.01145 84.578);
    --color-ecru-600: oklch(89.471% 0.03462 84.586);
    --color-ecru-700: oklch(82.392% 0.05787 84.466);
    --color-ecru-800: oklch(75.287% 0.0804 84.054);
    --color-ecru-900: oklch(68.19% 0.10037 82.956);
    --color-ecru-950: oklch(62.773% 0.09271 82.581);

    /* -------------------------
  Fonts
  ------------------------- */
    --font-sans: 'Raleway', sans-serif;

    /* -------------------------
  Font sizes
  ------------------------- */
    /* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1330,14,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    /* Reset sizes */
    --text-*: initial;

    /* Step -2: 12px */
    --text-xs: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
    --text-xs--line-height: calc(100% + 10px);

    /* Step -1: 14px */
    --text-sm: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    --text-sm--line-height: calc(100% + 10px);

    /* Step 0: 16px */
    --text-base: clamp(1rem, 1rem + 0vw, 1rem);
    --text-base--line-height: calc(100% + 10px);

    /* Step 1: 20.16px → 24.88px */
    --text-lg: clamp(1.1875rem, 0.9875rem + 1vw, 2.0625rem);
    --text-lg--line-height: calc(100% + 10px);

    /* Step 2: 24.19px → 33.16px */
    --text-xl: clamp(1.4375rem, 1.0661rem + 1.8571vw, 3.0625rem);
    --text-xl--line-height: calc(100% + 10px);

    /* Step 3: 29.03px → 44.20px */
    --text-2xl: clamp(1.75rem, 1.2786rem + 2.3571vw, 3.8125rem);
    --text-2xl--line-height: calc(100% + 10px);

    /* Step 4: 34.84px → 58.92px */
    --text-3xl: clamp(2.0625rem, 1.4482rem + 3.0714vw, 4.75rem);
    --text-3xl--line-height: calc(2.25 / 1.875);

    /* -------------------------
  Aspect ratios
  ------------------------- */

    --aspect-landscape: 383 / 235;
    --aspect-2/3: 2 / 3;

    /* -------------------------
  Breakpoints/screens
  ------------------------- */
    --breakpoint-3xs: 21rem; /* 336px */
    --breakpoint-2xs: 25.625rem; /* 410px */
    --breakpoint-xs: 30rem; /* 480px */
    --breakpoint-sm: 35rem; /* 560px */
    --breakpoint-md: 45.714rem; /* 658px */
    --breakpoint-lg: 54.875rem; /* 878px */
    --breakpoint-xl: 67.375rem; /* 1078px */
    --breakpoint-2xl: 79.19rem; /* 1280px */
    --breakpoint-3xl: 90rem; /* 1400px */
    --breakpoint-4xl: 111.25rem; /* 1780px */

    /* -------------------------
  Containers
  ------------------------- */
    --container-3xs: 21rem; /* 336px */
    --container-2xs: 25.625rem; /* 410px */
    --container-xs: 30rem; /* 480px */
    --container-sm: 35rem; /* 560px */
    --container-md: 45.714rem; /* 658px */
    --container-lg: 54.875rem; /* 878px */
    --container-xl: 67.375rem; /* 1078px */
    --container-2xl: 79.19rem; /* 1280px */
    --container-3xl: 90rem; /* 1400px */
    --container-4xl: 111.25rem; /* 1780px */

    /* -------------------------
  Spacing
  ------------------------- */
    --spacing-1/2: 50%;
    --spacing-1/3: 33.3333%;
    --spacing-1/4: 25%;
    --spacing-2/4: 50%;
    --spacing-3/4: 75%;
    --spacing-1/5: 20%;
    --spacing-2/5: 40%;
    --spacing-3/5: 60%;
    --spacing-4/5: 80%;
    --spacing-1/6: 16.6667%;
    --spacing-2/6: 33.3333%;
    --spacing-3/6: 50%;
    --spacing-4/6: 66.6667%;
    --spacing-5/6: 83.3333%;
    --spacing-1/12: 8.3333%;
    --spacing-2/12: 16.6667%;
    --spacing-3/12: 25%;
    --spacing-4/12: 33.3333%;
    --spacing-5/12: 41.6667%;
    --spacing-6/12: 50%;
    --spacing-7/12: 58.3333%;
    --spacing-8/12: 66.6667%;
    --spacing-9/12: 75%;
    --spacing-10/12: 83.3333%;
    --spacing-11/12: 91.6667%;
    --spacing-full: 100%;
    --spacing-25vh: 25vh;
    --spacing-50vw: 50vw;
    --spacing-50vh: 50vh;
    --spacing-75vh: 75vh;
}
