/* --------------------------------------------
VARS AND RE-USABLE CLASSES
-------------------------------------------- */

.page.page-leave-active,
.page.page-enter-active {
    opacity: 0;
    transition:
        scale 100ms cubic-bezier(0.4, 0, 0.16, 1),
        opacity 100ms cubic-bezier(0.4, 0, 0.16, 1),
        transform 100ms cubic-bezier(0.4, 0, 0.16, 1);
}

.page.page-enter-to {
    opacity: 100;
    transition:
        scale 100ms cubic-bezier(0.4, 0, 0.16, 1),
        opacity 100ms cubic-bezier(0.4, 0, 0.16, 1),
        transform 100ms cubic-bezier(0.4, 0, 0.16, 1);
}
